<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <title>Python Django</title>
    </head>
    <body>
        <header class="container center-align">
            <h1>My Blog</h1>
            <a href="/admin" class="center-align">Admin</a>
        </header>
        <div class="container">
            {% block content %}
            {% endblock %}
          
        </div>
    </body>
</html>